In [182]:

%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*
    !pip install eli5
    !pip install pdpbox
    !pip install shap

# If you're working locally:
else:
    DATA_PATH = '../data/'

In [183]:
pip install xlrd

Requirement already satisfied: xlrd in /home/iesous-kurios/my_app/lib/python3.6/site-packages (1.2.0)
Note: you may need to restart the kernel to use updated packages.

In [184]:
# section to import functions/libraries that allows me to work with the data

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [185]:
# import an 'all donors' dataframe
#all_donors = pd.read_excel('/content/all_donors.xlsx')

# import an 'all major prospects' data fra
df = pd.read_excel('~/my_app/family_promise_data/data/Donation Verification Document  (2).xlsx')


#df = pd.read_excel(DATA_PATH+'/Unit_2_project_data.xlsx')

In [186]:
df.head(0)

Empty DataFrame
Columns: [First Name, Last Name, Gift Date, Reference No., Gift Amount , Billing Address, City, State, Zip Code, Email Address, Phone Number, Program/Division, Fund/Product/Service, Campaign/Deposit To, Soft Credit, Gift Memo, Mode of Payment , Thank You Letter Written, Recorded in Fundly, Recorded in QBO, Unnamed: 20, Unnamed: 21, Unnamed: 22, Unnamed: 23, Unnamed: 24, Unnamed: 25, Unnamed: 26, Unnamed: 27, Unnamed: 28, Unnamed: 29, Unnamed: 30, Unnamed: 31]
Index: []

[0 rows x 32 columns]

In [187]:
df.columns

Index(['First Name', 'Last Name', 'Gift Date', 'Reference No.', 'Gift Amount ',
       'Billing Address', 'City', 'State', 'Zip Code', 'Email Address',
       'Phone Number', 'Program/Division', 'Fund/Product/Service',
       'Campaign/Deposit To', 'Soft Credit', 'Gift Memo', 'Mode of Payment ',
       'Thank You Letter Written', 'Recorded in Fundly', 'Recorded in QBO',
       'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23',
       'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27',
       'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31'],
      dtype='object')

In [188]:
df['Fund/Product/Service'].value_counts()

Individual                           1252
Congregations                         122
Corporate/Organization/Foundation     121
Rent Income                            30
 Individual                             1
`                                       1
Corporation                             1
Name: Fund/Product/Service, dtype: int64

In [189]:
# print that array
#maj_pros_list

In [190]:
# create new dataframe that has base of all donors but removed any name 
# from the all donors list if that name is also on the major prospects list

#new_df = all_donors[~all_donors['Contact Name'].isin(maj_pros_list)]

In [191]:
#new_df.shape

In [192]:
# export that redacted list into an excel file
#new_df.to_excel("/content/redacted.xlsx")

In [193]:
df.head(0)

Empty DataFrame
Columns: [First Name, Last Name, Gift Date, Reference No., Gift Amount , Billing Address, City, State, Zip Code, Email Address, Phone Number, Program/Division, Fund/Product/Service, Campaign/Deposit To, Soft Credit, Gift Memo, Mode of Payment , Thank You Letter Written, Recorded in Fundly, Recorded in QBO, Unnamed: 20, Unnamed: 21, Unnamed: 22, Unnamed: 23, Unnamed: 24, Unnamed: 25, Unnamed: 26, Unnamed: 27, Unnamed: 28, Unnamed: 29, Unnamed: 30, Unnamed: 31]
Index: []

[0 rows x 32 columns]

In [194]:
df.columns

Index(['First Name', 'Last Name', 'Gift Date', 'Reference No.', 'Gift Amount ',
       'Billing Address', 'City', 'State', 'Zip Code', 'Email Address',
       'Phone Number', 'Program/Division', 'Fund/Product/Service',
       'Campaign/Deposit To', 'Soft Credit', 'Gift Memo', 'Mode of Payment ',
       'Thank You Letter Written', 'Recorded in Fundly', 'Recorded in QBO',
       'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23',
       'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27',
       'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31'],
      dtype='object')

In [195]:
# create new sheet for excel file that has sum of donation listed by each 
# donor's first, last, and full name
#new_df_pivot = pd.pivot_table(df, 
 #                             index=['First Name', 'Last Name', 'Billing Address', 'City', 'State', 'Zip Code'], 
  #                            values='Gift Amount ')

In [196]:
#pip install openpyxl

In [197]:
# export that sheet into excel file 
#new_df_pivot.to_excel('~/environments/fp_env/family_promise_data/data/pivot.xlsx')

In [198]:
df['Fund/Product/Service'].value_counts()

Individual                           1252
Congregations                         122
Corporate/Organization/Foundation     121
Rent Income                            30
 Individual                             1
`                                       1
Corporation                             1
Name: Fund/Product/Service, dtype: int64

In [199]:
# create new data frame with only the individual donors
# (this list also has anybody from the major prospects removed)
ind_type = df[df['Fund/Product/Service'] == 'Individual']

In [200]:
ind_type.shape

(1252, 32)

In [201]:
ind_type.columns

Index(['First Name', 'Last Name', 'Gift Date', 'Reference No.', 'Gift Amount ',
       'Billing Address', 'City', 'State', 'Zip Code', 'Email Address',
       'Phone Number', 'Program/Division', 'Fund/Product/Service',
       'Campaign/Deposit To', 'Soft Credit', 'Gift Memo', 'Mode of Payment ',
       'Thank You Letter Written', 'Recorded in Fundly', 'Recorded in QBO',
       'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23',
       'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27',
       'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31'],
      dtype='object')

In [202]:
ind_type = ind_type.drop(columns=['Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23',
       'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27',
       'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31'])

In [203]:
sorted_ind = ind_type.sort_values(by=['First Name', 'Last Name'], inplace=False)

In [ ]:
sorted_ind.head(1)

In [205]:
n_sorted_ind.columns

Index(['First Name', 'Last Name', 'Gift Date', 'Gift Amount ',
       'Billing Address', 'City', 'State', 'Zip Code', 'Email Address',
       'Phone Number', 'Program/Division', 'Fund/Product/Service',
       'Campaign/Deposit To', 'Soft Credit', 'Gift Memo'],
      dtype='object')

In [206]:
n_sorted_ind = sorted_ind[~sorted_ind['Reference No.'].str.contains("FaceBook", na=False)]

In [207]:
n_sorted_ind = n_sorted_ind[~n_sorted_ind['Campaign/Deposit To'].str.contains("Grant", na=False)]

In [208]:
n_sorted_ind = n_sorted_ind[~n_sorted_ind['Campaign/Deposit To'].str.contains("Rent", na=False)]

In [209]:
n_sorted_ind = n_sorted_ind.drop(columns=['Reference No.', 'Mode of Payment ', 
                                      'Thank You Letter Written', 'Recorded in Fundly', 'Recorded in QBO'])

In [210]:
n_sorted_ind.to_excel('~/my_app/family_promise_data/data/sorted_ind_final.xlsx')

In [211]:
# create new dataframe that has only the org type donors (again, nobody from
# the major prospects list will be here)
org_type = df[df['Fund/Product/Service'] == 'Corporate/Organization/Foundation']

In [212]:
org_type = org_type.drop(columns=['Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23',
       'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27',
       'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31'])

In [213]:
sorted_org = org_type.sort_values(by=['First Name', 'Last Name'], inplace=False)

In [214]:
n_sorted_org = sorted_org[~sorted_org['Campaign/Deposit To'].str.contains("Rent", na=False)]

In [215]:
n_sorted_org = n_sorted_org[~n_sorted_org['Campaign/Deposit To'].str.contains("Grant Income", na=False)]

In [216]:
n_sorted_org = n_sorted_org[~n_sorted_org['Reference No.'].str.contains("FaceBook", na=False)]

In [217]:
n_sorted_org = n_sorted_org.drop(columns=['Reference No.', 'Mode of Payment ', 
                                      'Thank You Letter Written', 'Recorded in Fundly', 'Recorded in QBO'])

In [218]:
n_sorted_org.to_excel('~/my_app/family_promise_data/data/sorted_org_final.xlsx')

In [219]:
# create new dataframe that has only the org type donors (again, nobody from
# the major prospects list will be here)
cong_type = df[df['Fund/Product/Service'] == 'Congregations']

In [220]:
cong_type = cong_type.drop(columns=['Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23',
       'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27',
       'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31'])

In [221]:
n_sorted_cong = cong_type.sort_values(by=['First Name', 'Last Name'], inplace=False)

In [222]:
n_sorted_cong = n_sorted_cong[~n_sorted_cong['Campaign/Deposit To'].str.contains("Rent", na=False)]

In [223]:
n_sorted_cong = n_sorted_cong[~n_sorted_cong['Campaign/Deposit To'].str.contains("Grant Income", na=False)]

In [224]:
n_sorted_org = n_sorted_cong[~n_sorted_cong['Reference No.'].str.contains("FaceBook", na=False)]

In [225]:
n_sorted_cong = n_sorted_cong.drop(columns=['Reference No.', 'Mode of Payment ', 
                                      'Thank You Letter Written', 'Recorded in Fundly', 'Recorded in QBO'])

In [226]:
n_sorted_cong.to_excel('~/my_app/family_promise_data/data/sorted_cong_final.xlsx')

In [227]:
# create dataframe with org donors listed by first, last and full name next to
# the sum of their donations
#df_pivot = pd.pivot_table(cong_type, index=['First Name', 'Last Name', 'Billing Address', 'City', 'State', 'Zip Code', 'Gift Memo', 'Campaign/Deposit To'], 
 #                             values='Gift Amount ', aggfunc='sum')

In [228]:
# export the dataframe to excel sheet
#df_pivot.to_excel('~/environments/fp_env/family_promise_data/data/cong_pivot3.xlsx')

In [229]:
ind_type.shape

(1252, 20)

In [230]:
org_type.shape

(121, 20)

In [231]:
cong_type.shape

(122, 20)

In [232]:
1252+121+122

1495

In [233]:
df.shape

(1528, 32)

In [234]:
1528 - 1495

33

In [235]:
# create list of donors to compare against dataframe of 'have not donated' 
#donated = new_df['Contact Name']

In [236]:
#not_donor = pd.read_excel('/content/not_donors.xlsx')

In [237]:
# create new dataframe based off of 'not donors' list that will remove a name
# from the 'not donated' list if their name shows up on the 'donors' list
#not_donors = not_donor[~not_donor['Contact Name'].isin(donated)]

In [238]:
# create excel sheet out of new dataframe
#not_donors.to_excel('/content/not_donors.xlsx')