<a href="https://colab.research.google.com/github/iesous-kurios/family_promise_data/blob/master/donor_worksheet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# section to import functions/libraries that allows me to work with the data

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [0]:
# import an 'all donors' dataframe
all_donors = pd.read_excel('/content/all_donors.xlsx')

# import an 'all major prospects' data frame
major_prospect = pd.read_excel('/content/major_prospect.xlsx', header=None)

In [5]:
# see how many rows and columns there are in the data frame
all_donors.shape

(931, 10)

In [6]:
major_prospect.shape

(119, 1)

In [7]:
# what is difference?
931 - 119

812

In [0]:
# put list of major prospects into an array that can be used to compare against 
# another data frame
maj_pros_list = major_prospect[0]

In [9]:
# print that array
maj_pros_list

0              Adam Oakley
1              Amanda Swan
2             Angie Hopson
3      Dr. Arnold Peterson
4              Ashlie Beal
              ...
114             Terry Deno
115           Terry Thoren
116           Thomas Allen
117            Tom Clemson
118          Traci Hanegan
Name: 0, Length: 119, dtype: object

In [0]:
# create new dataframe that has base of all donors but removed any name 
# from the all donors list if that name is also on the major prospects list

new_df = all_donors[~all_donors['Contact Name'].isin(maj_pros_list)]

In [11]:
new_df.shape

(890, 10)

In [0]:
# export that redacted list into an excel file
new_df.to_excel("/content/redacted.xlsx")

In [13]:
new_df.head()

           Type  ...                                    Full Address
0    Individual  ...  416 W Park Place, Spokane, Spokane, WA - 99205
1    Individual  ...            2523 E 17th Ave, Spokane, WA - 99223
2    Individual  ...       15810 E Lincoln Road, Spokane, WA - 99217
3  Organization  ...             903 W Broadway, Spokane, WA - 99201
4  Organization  ...   1055 Edgewater St NW, Salem, Polk, OR - 97304

[5 rows x 10 columns]

In [0]:
# create new sheet for excel file that has sum of donation listed by each 
# donor's first, last, and full name
new_df_pivot = pd.pivot_table(new_df, 
                              index=['Contact Name', 'First Name', 'Last Name'], 
                              values='Donation Amount', aggfunc='sum')

In [0]:
# export that sheet into excel file 
new_df_pivot.to_excel('/content/pivot.xlsx')

In [0]:
# create new data frame with only the individual donors
# (this list also has anybody from the major prospects removed)
ind_type = new_df[new_df['Type'] == 'Individual']

In [30]:
ind_type.head()

         Type  ...                                    Full Address
0  Individual  ...  416 W Park Place, Spokane, Spokane, WA - 99205
1  Individual  ...            2523 E 17th Ave, Spokane, WA - 99223
2  Individual  ...       15810 E Lincoln Road, Spokane, WA - 99217
5  Individual  ...       15810 E Lincoln Road, Spokane, WA - 99217
6  Individual  ...                                             NaN

[5 rows x 10 columns]

In [0]:
# create sheet that has the individual donors listed by first, last, and full
# next to the sum of their donations
ind_df_pivot = pd.pivot_table(ind_type, index=['Contact Name', 
                                               'First Name', 'Last Name', 'Full Address'], 
                              values='Donation Amount', aggfunc='sum')

In [0]:
# export that sheet into an excel file
ind_df_pivot.to_excel('/content/ind_pivot.xlsx')

In [0]:
# create new dataframe that has only the org type donors (again, nobody from
# the major prospects list will be here)
org_type = new_df[new_df['Type'] == 'Organization']

In [0]:
# create dataframe with org donors listed by first, last and full name next to
# the sum of their donations
org_df_pivot = pd.pivot_table(org_type, index=['Contact Name', 'First Name', 
                                               'Last Name', 'Full Address'], 
                              values='Donation Amount', aggfunc='sum')

In [0]:
# export the dataframe to excel sheet
org_df_pivot.to_excel('/content/org_pivot.xlsx')

In [0]:
# create list of donors to compare against dataframe of 'have not donated' 
donated = new_df['Contact Name']

In [0]:
not_donor = pd.read_excel('/content/not_donors.xlsx')

In [0]:
# create new dataframe based off of 'not donors' list that will remove a name
# from the 'not donated' list if their name shows up on the 'donors' list
not_donors = not_donor[~not_donor['Contact Name'].isin(donated)]

In [0]:
# create excel sheet out of new dataframe
not_donors.to_excel('/content/not_donors.xlsx')