<a href="https://colab.research.google.com/github/iesous-kurios/family_promise_data/blob/master/donor_worksheet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [0]:
all_donors = pd.read_excel('/content/all_donors.xlsx')
major_prospect = pd.read_excel('/content/major_prospect.xlsx', header=None)

In [17]:
all_donors.shape

(931, 10)

In [18]:
major_prospect.shape

(119, 1)

In [19]:
931 - 119

812

In [0]:
maj_pros_list = major_prospect[0]

In [11]:
maj_pros_list

0              Adam Oakley
1              Amanda Swan
2             Angie Hopson
3      Dr. Arnold Peterson
4              Ashlie Beal
              ...
114             Terry Deno
115           Terry Thoren
116           Thomas Allen
117            Tom Clemson
118          Traci Hanegan
Name: 0, Length: 119, dtype: object

In [0]:
new_df = all_donors[~all_donors['Contact Name'].isin(maj_pros_list)]

In [15]:
new_df['Contact Name']

0                              Dr. Elizabeth Abbey
1                                 Joseph Addington
2                                      Frances Aga
3                               North by Northwest
4      Family Promise of the Mid-Willamette Valley
                          ...
926                                    Grant Wylie
927                                   Cynthia Wynn
928                                   Adrian Yanez
929                                   Nathan Young
930                            Micaela Young-Jaime
Name: Contact Name, Length: 890, dtype: object

In [16]:
new_df.shape

(890, 10)

In [0]:
new_df.to_excel("/content/redacted.xlsx")

In [0]:
new_df_pivot = pd.pivot_table(new_df, index=['Contact Name', 'First Name', 'Last Name'], values='Donation Amount', aggfunc='sum')

In [0]:
new_df_pivot.to_excel('/content/pivot.xlsx')

In [21]:
new_df.head(1)

         Type  ...                                    Full Address
0  Individual  ...  416 W Park Place, Spokane, Spokane, WA - 99205

[1 rows x 10 columns]

In [0]:
ind_type = new_df[new_df['Type'] == 'Individual']

In [27]:
ind_type.head()

         Type  ...                                    Full Address
0  Individual  ...  416 W Park Place, Spokane, Spokane, WA - 99205
1  Individual  ...            2523 E 17th Ave, Spokane, WA - 99223
2  Individual  ...       15810 E Lincoln Road, Spokane, WA - 99217
5  Individual  ...       15810 E Lincoln Road, Spokane, WA - 99217
6  Individual  ...                                             NaN

[5 rows x 10 columns]

In [0]:
ind_df_pivot = pd.pivot_table(ind_type, index=['Contact Name', 'First Name', 'Last Name'], values='Donation Amount', aggfunc='sum')

In [0]:
ind_df_pivot.to_excel('/content/ind_pivot.xlsx')

In [0]:
org_type = new_df[new_df['Type'] == 'Organization']

In [0]:
org_df_pivot = pd.pivot_table(org_type, index=['Contact Name', 'First Name', 'Last Name'], values='Donation Amount', aggfunc='sum')

In [0]:
org_df_pivot.to_excel('/content/org_pivot.xlsx')