In [4]:

%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*
    !pip install eli5
    !pip install pdpbox
    !pip install shap

# If you're working locally:
else:
    DATA_PATH = '../data/'

In [11]:
pip install xlrd

Collecting xlrd
  Downloading https://files.pythonhosted.org/packages/b0/16/63576a1a001752e34bf8ea62e367997530dc553b689356b9879339cf45a4/xlrd-1.2.0-py2.py3-none-any.whl (103kB)
    100% |████████████████████████████████| 112kB 1.8MB/s ta 0:00:01
Installing collected packages: xlrd
Successfully installed xlrd-1.2.0
Note: you may need to restart the kernel to use updated packages.

In [5]:
# section to import functions/libraries that allows me to work with the data

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
# import an 'all donors' dataframe
#all_donors = pd.read_excel('/content/all_donors.xlsx')

# import an 'all major prospects' data fra
df = pd.read_excel('~/environments/fp_env/family_promise_data/data/Donation Verification Document  (2).xlsx')


#df = pd.read_excel(DATA_PATH+'/Unit_2_project_data.xlsx')

In [14]:
df.head(0)

Empty DataFrame
Columns: [First Name, Last Name, Gift Date, Reference No., Gift Amount , Billing Address, City, State, Zip Code, Email Address, Phone Number, Program/Division, Fund/Product/Service, Campaign/Deposit To, Soft Credit, Gift Memo, Mode of Payment , Thank You Letter Written, Recorded in Fundly, Recorded in QBO, Unnamed: 20, Unnamed: 21, Unnamed: 22, Unnamed: 23, Unnamed: 24, Unnamed: 25, Unnamed: 26, Unnamed: 27, Unnamed: 28, Unnamed: 29, Unnamed: 30, Unnamed: 31]
Index: []

[0 rows x 32 columns]

In [15]:
df.columns

Index(['First Name', 'Last Name', 'Gift Date', 'Reference No.', 'Gift Amount ',
       'Billing Address', 'City', 'State', 'Zip Code', 'Email Address',
       'Phone Number', 'Program/Division', 'Fund/Product/Service',
       'Campaign/Deposit To', 'Soft Credit', 'Gift Memo', 'Mode of Payment ',
       'Thank You Letter Written', 'Recorded in Fundly', 'Recorded in QBO',
       'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23',
       'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27',
       'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31'],
      dtype='object')

In [16]:
df['Fund/Product/Service'].value_counts()

Individual                           1252
Congregations                         122
Corporate/Organization/Foundation     121
Rent Income                            30
`                                       1
Corporation                             1
 Individual                             1
Name: Fund/Product/Service, dtype: int64

In [9]:
# print that array
maj_pros_list

0              Adam Oakley
1              Amanda Swan
2             Angie Hopson
3      Dr. Arnold Peterson
4              Ashlie Beal
              ...
114             Terry Deno
115           Terry Thoren
116           Thomas Allen
117            Tom Clemson
118          Traci Hanegan
Name: 0, Length: 119, dtype: object

In [0]:
# create new dataframe that has base of all donors but removed any name 
# from the all donors list if that name is also on the major prospects list

new_df = all_donors[~all_donors['Contact Name'].isin(maj_pros_list)]

In [11]:
new_df.shape

(890, 10)

In [0]:
# export that redacted list into an excel file
new_df.to_excel("/content/redacted.xlsx")

In [7]:
df.head(0)

Empty DataFrame
Columns: [First Name, Last Name, Gift Date, Reference No., Gift Amount , Billing Address, City, State, Zip Code, Email Address, Phone Number, Program/Division, Fund/Product/Service, Campaign/Deposit To, Soft Credit, Gift Memo, Mode of Payment , Thank You Letter Written, Recorded in Fundly, Recorded in QBO, Unnamed: 20, Unnamed: 21, Unnamed: 22, Unnamed: 23, Unnamed: 24, Unnamed: 25, Unnamed: 26, Unnamed: 27, Unnamed: 28, Unnamed: 29, Unnamed: 30, Unnamed: 31]
Index: []

[0 rows x 32 columns]

In [52]:
df.columns

Index(['First Name', 'Last Name', 'Gift Date', 'Reference No.', 'Gift Amount ',
       'Billing Address', 'City', 'State', 'Zip Code', 'Email Address',
       'Phone Number', 'Program/Division', 'Fund/Product/Service',
       'Campaign/Deposit To', 'Soft Credit', 'Gift Memo', 'Mode of Payment ',
       'Thank You Letter Written', 'Recorded in Fundly', 'Recorded in QBO',
       'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23',
       'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27',
       'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31'],
      dtype='object')

In [54]:
# create new sheet for excel file that has sum of donation listed by each 
# donor's first, last, and full name
new_df_pivot = pd.pivot_table(df, 
                              index=['First Name', 'Last Name', 'Billing Address', 'City', 'State', 'Zip Code'], 
                              values='Gift Amount ')

In [57]:
pip install openpyxl

Collecting openpyxl
  Downloading https://files.pythonhosted.org/packages/f4/5f/fb8706fba43b46716e252fdd3ffdfe801a63a0f4663b80b6f3421d85ab70/openpyxl-3.0.2.tar.gz (172kB)
    100% |████████████████████████████████| 174kB 2.6MB/s ta 0:00:01
Collecting et_xmlfile (from openpyxl)
  Downloading https://files.pythonhosted.org/packages/22/28/a99c42aea746e18382ad9fb36f64c1c1f04216f41797f2f0fa567da11388/et_xmlfile-1.0.1.tar.gz
Collecting jdcal (from openpyxl)
  Downloading https://files.pythonhosted.org/packages/f0/da/572cbc0bc582390480bbd7c4e93d14dc46079778ed915b505dc494b37c57/jdcal-1.4.1-py2.py3-none-any.whl
Building wheels for collected packages: openpyxl, et-xmlfile
  Running setup.py bdist_wheel for openpyxl ... error
  Complete output from command /home/iesous-kurios/environments/fp_env/bin/python3 -u -c "import setuptools, tokenize;__file__='/tmp/pip-build-f6l5fixg/openpyxl/setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f.read().replace('\r\n', '\n');f.close();exec(compile(code, __file__, 'exec'))" bdist_wheel -d /tmp/tmp_02pap7xpip-wheel- --python-tag cp36:
  usage: -c [global_opts] cmd1 [cmd1_opts] [cmd2 [cmd2_opts] ...]
     or: -c --help [cmd1 cmd2 ...]
     or: -c --help-commands
     or: -c cmd --help

  error: invalid command 'bdist_wheel'

  ----------------------------------------
  Failed building wheel for openpyxl
  Running setup.py clean for openpyxl
  Running setup.py bdist_wheel for et-xmlfile ... error
  Complete output from command /home/iesous-kurios/environments/fp_env/bin/python3 -u -c "import setuptools, tokenize;__file__='/tmp/pip-build-f6l5fixg/et-xmlfile/setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f.read().replace('\r\n', '\n');f.close();exec(compile(code, __file__, 'exec'))" bdist_wheel -d /tmp/tmpx8_ik344pip-wheel- --python-tag cp36:
  usage: -c [global_opts] cmd1 [cmd1_opts] [cmd2 [cmd2_opts] ...]
     or: -c --help [cmd1 cmd2 ...]
     or: -c --help-commands
     or: -c cmd --help

  error: invalid command 'bdist_wheel'

  ----------------------------------------
  Failed building wheel for et-xmlfile
  Running setup.py clean for et-xmlfile
Failed to build openpyxl et-xmlfile
Installing collected packages: et-xmlfile, jdcal, openpyxl
  Running setup.py install for et-xmlfile ... done
  Running setup.py install for openpyxl ... done
Successfully installed et-xmlfile-1.0.1 jdcal-1.4.1 openpyxl-3.0.2
Note: you may need to restart the kernel to use updated packages.

In [58]:
# export that sheet into excel file 
new_df_pivot.to_excel('~/environments/fp_env/family_promise_data/data/pivot.xlsx')

In [8]:
df['Fund/Product/Service'].value_counts()

Individual                           1165
Corporate/Organization/Foundation     117
Congregations                         114
Rent Income                            29
 Individual                             1
`                                       1
Corporation                             1
Name: Fund/Product/Service, dtype: int64

In [7]:
# create new data frame with only the individual donors
# (this list also has anybody from the major prospects removed)
ind_type = df[df['Fund/Product/Service'] == 'Individual']

In [53]:
ind_type.shape

(1165, 32)

In [20]:
ind_type.columns

Index(['First Name', 'Last Name', 'Gift Date', 'Reference No.', 'Gift Amount ',
       'Billing Address', 'City', 'State', 'Zip Code', 'Email Address',
       'Phone Number', 'Program/Division', 'Fund/Product/Service',
       'Campaign/Deposit To', 'Soft Credit', 'Gift Memo', 'Mode of Payment ',
       'Thank You Letter Written', 'Recorded in Fundly', 'Recorded in QBO'],
      dtype='object')

In [13]:
ind_type = ind_type.drop(columns=['Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23',
       'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27',
       'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31'])

In [26]:
sorted_ind = ind_type.sort_values(by=['First Name', 'Last Name'], inplace=False)

In [27]:
sorted_ind.head(1)

,First Name,Last Name,Gift Date,Reference No.,Gift Amount,Billing Address,City,State,Zip Code,Email Address,Phone Number,Program/Division,Fund/Product/Service,Campaign/Deposit To,Soft Credit,Gift Memo,Mode of Payment,Thank You Letter Written,Recorded in Fundly,Recorded in QBO
381,Dan,Osborne,2019-04-18,Auctria,1244.0,1819 S Grand Blvd #2,Spokane,WA,99203,dan.osborne@shell.com,509-934-8331,Family Promise/Bridges,Individual,UnGala 2019,NaN,Purhased a Silver Table,Auctria - Stripe,NaN,2019-04-24 00:00:00,2019-04-19 00:00:00

In [29]:
sorted_ind = sorted_ind.drop(columns=['Gift Date', 'Reference No.', 'Mode of Payment ', 
                                      'Thank You Letter Written', 'Recorded in Fundly', 'Recorded in QBO'])

In [28]:
sorted_ind.columns

Index(['First Name', 'Last Name', 'Gift Date', 'Reference No.', 'Gift Amount ',
       'Billing Address', 'City', 'State', 'Zip Code', 'Email Address',
       'Phone Number', 'Program/Division', 'Fund/Product/Service',
       'Campaign/Deposit To', 'Soft Credit', 'Gift Memo', 'Mode of Payment ',
       'Thank You Letter Written', 'Recorded in Fundly', 'Recorded in QBO'],
      dtype='object')

In [35]:
n_sorted_ind = sorted_ind[~sorted_ind['Campaign/Deposit To'].str.contains("Rent", na=False)]

In [36]:
n_sorted_ind.to_excel('~/environments/fp_env/family_promise_data/data/sorted_ind_pivot5.xlsx')

In [ ]:
# latest

In [52]:
# create new dataframe that has only the org type donors (again, nobody from
# the major prospects list will be here)
org_type = df[df['Fund/Product/Service'] == 'Corporate/Organization/Foundation']

In [53]:
org_type = org_type.drop(columns=['Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23',
       'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27',
       'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31'])

In [54]:
sorted_org = org_type.sort_values(by=['First Name', 'Last Name'], inplace=False)

In [55]:
sorted_org = sorted_org.drop(columns=['Gift Date', 'Reference No.', 'Mode of Payment ', 
                                      'Thank You Letter Written', 'Recorded in Fundly', 'Recorded in QBO'])

In [56]:
n_sorted_org = sorted_org[~sorted_org['Campaign/Deposit To'].str.contains("Rent", na=False)]

In [57]:
n_sorted_org.to_excel('~/environments/fp_env/family_promise_data/data/sorted_org_pivot6.xlsx')

In [58]:
# create new dataframe that has only the org type donors (again, nobody from
# the major prospects list will be here)
cong_type = df[df['Fund/Product/Service'] == 'Congregations']

In [59]:
cong_type = cong_type.drop(columns=['Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23',
       'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27',
       'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31'])

In [60]:
sorted_cong = cong_type.sort_values(by=['First Name', 'Last Name'], inplace=False)

In [61]:
sorted_cong = sorted_cong.drop(columns=['Gift Date', 'Reference No.', 'Mode of Payment ', 
                                      'Thank You Letter Written', 'Recorded in Fundly', 'Recorded in QBO'])

In [62]:
n_sorted_cong = sorted_cong[~sorted_cong['Campaign/Deposit To'].str.contains("Rent", na=False)]

In [63]:
n_sorted_cong.to_excel('~/environments/fp_env/family_promise_data/data/sorted_cong_pivot7.xlsx')

In [26]:
# create dataframe with org donors listed by first, last and full name next to
# the sum of their donations
df_pivot = pd.pivot_table(cong_type, index=['First Name', 'Last Name', 'Billing Address', 'City', 'State', 'Zip Code', 'Gift Memo', 'Campaign/Deposit To'], 
                              values='Gift Amount ', aggfunc='sum')

In [27]:
# export the dataframe to excel sheet
df_pivot.to_excel('~/environments/fp_env/family_promise_data/data/cong_pivot3.xlsx')

In [28]:
ind_type.shape

(1252, 32)

In [29]:
org_type.shape

(121, 32)

In [30]:
cong_type.shape

(122, 32)

In [31]:
1252+121+122

1495

In [32]:
df.shape

(1528, 32)

In [33]:
1528 - 1495

33

In [0]:
# create list of donors to compare against dataframe of 'have not donated' 
donated = new_df['Contact Name']

In [0]:
not_donor = pd.read_excel('/content/not_donors.xlsx')

In [0]:
# create new dataframe based off of 'not donors' list that will remove a name
# from the 'not donated' list if their name shows up on the 'donors' list
not_donors = not_donor[~not_donor['Contact Name'].isin(donated)]

In [0]:
# create excel sheet out of new dataframe
not_donors.to_excel('/content/not_donors.xlsx')