<a href="https://colab.research.google.com/github/iesous-kurios/family_promise_data/blob/master/Last_Updated_YTD_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **YTD FPS Data Notebook**

In [1]:
#@title
# import libraries which provide math functions to our data imports
import statistics
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import xlwt 
from xlwt import Workbook
import seaborn as sns

import matplotlib.pyplot as plt
import matplotlib
from matplotlib import style

sns.__version__

'0.10.0'

In [3]:
# Python program to check if two  
# to get unique values from list 
# using traversal  
  
# function to get unique values 
def unique(list1): 
  
    # intilize a null list 
    unique_list = [] 
      
    # traverse for all elements 
    for x in list1: 
        # check if exists in unique_list or not 
        if x not in unique_list: 
            unique_list.append(x) 
    return unique_list    
    
  
# driver code 
list1 = df['5.8 Personal ID']

unduplicated = unique(list1)

In [4]:
len(unduplicated)

752

In [5]:
df['5.9 Household ID'].value_counts()

106345    8
118439    7
117576    7
113462    6
108834    6
         ..
110595    2
125339    1
115770    1
115633    1
108479    1
Name: 5.9 Household ID, Length: 251, dtype: int64

In [6]:
# print total number of families served (unduplicated)
unique_households = unique(df['5.9 Household ID'])

In [7]:
len(unique_households)

251

In [2]:
#@title
# import weekly data from yearly FPS folder
df = pd.read_excel('~/family_promise_data/data/ClientTrackExport (3).xlsx')
#df = pd.read_excel ('~/environments/fp_env/family_promise_data/data/ClientTrackExport (5).xlsx')

In [15]:
#@title
# replace zeros in data with "Nan" to calculate more accurate average bednights 
df['Count of Bed Nights (Housing Check-ins)'] = df['Count of Bed Nights (Housing Check-ins)'].replace(0, np.NaN)

In [75]:
# display all possible exit destinations and their totals
df['3.12 Exit Destination'].value_counts()

Client refused                                                                                                          285
Emergency shelter, including hotel or motel paid for with emergency shelter voucher, or RHY-funded Host Home shelter    103
Rental by client with RRH or equivalent subsidy                                                                          94
Transitional Housing for homeless persons (including homeless youth)                                                     37
Rental by client, no ongoing housing subsidy                                                                             32
No exit interview completed                                                                                              23
Staying or living with family, permanent tenure                                                                          20
Staying or living with friends, temporary tenure (e.g., room, apartment or house)                                        15
Staying or living with family, temporary tenure (e.g., room, apartment or house)                                         11
Other                                                                                                                     4
Hotel or Motel paid for without Emergency Shelter Voucher                                                                 4
Substance Abuse Treatment or Detox Center                                                                                 3
Staying or living with friends, permanent tenure                                                                          2
Psychiatric Hospital or Other Psychiatric Facility                                                                        1
Rental by client, other ongoing housing subsidy                                                                           1
Name: 3.12 Exit Destination, dtype: int64

In [76]:
#@title

exit_reasons = ['Rental by client with RRH or equivalent subsidy', 
                'Rental by client, no ongoing housing subsidy', 
                'Staying or living with family, permanent tenure', 
                'Rental by client, other ongoing housing subsidy',
                'Permanent housing (other than RRH) for formerly homeless persons', 
                'Staying or living with friends, permanent tenure', 
                'Owned by client, with ongoing housing subsidy', 
                'Staying or living with friends, permanent tenure', 
                'Rental by client, VASH housing Subsidy'
               ]

temp_reasons = ['Staying or living with family, temporary tenure (e.g., room, apartment or house)', 
               'Staying or living with friends, temporary tenure (e.g., room, apartment or house)', 
                
               ]

In [77]:
# drop rows with no exit destination (current guests at time of report)
df = df.dropna(subset=['3.12 Exit Destination'])

In [78]:
 # create target column (multiple types of exits to perm)
df['perm_leaver'] = df['3.12 Exit Destination'].isin(exit_reasons)

In [79]:
df['perm_leaver'].value_counts(normalize=True)

False    0.765354
True     0.234646
Name: perm_leaver, dtype: float64

In [80]:
#@title  { display-mode: "both" }
# pull all exit destinations from main data file and sum up the totals of each destination, placing them into new df for calculations
exits = df['3.12 Exit Destination'].value_counts()

tempExits = df['3.12 Exit Destination'].isin(temp_reasons)
temp_exit_percent = tempExits.sum() / exits.sum()
#exits.sum()) * 100)
# round tempExits to two decimals
tempExits = round(temp_exit_percent*100, 2)
#tempExits = 0

# take sum of unknown exits and divide by total exits, then multiply by 100 to get percentage
unknownExits = ((exits['Client refused'] / exits.sum()) * 100)

# round the answer to nearest hundreth place
unknownExits = (round(unknownExits, 2))

# create three data frames made up of the three key words found in perm housing
perm1 = df[df['3.12 Exit Destination'].str.contains('Rental') == True] 
perm2 = df[df['3.12 Exit Destination'].str.contains('permanent') == True]
perm3 = df[df['3.12 Exit Destination'].str.contains('Permanent') == True]

# merge the three dataframes into one to calculate exit to perm percent
perm_almost_final = perm1.append(perm2)
perm_final = perm_almost_final.append(perm3)
perm_final['3.12 Exit Destination'].value_counts()
perm_final_sums = perm_final['3.12 Exit Destination'].value_counts()
perm_final = df['3.12 Exit Destination'].isin(exit_reasons)
# calculate percentage of exits to perm
perm_final_percent = perm_final_sums.sum() / exits.sum()

#perm_final.sum()

#perm_final_percent2 = perm_final.sum() / df['3.12 Exit Destination'].value_counts().sum()
#round(perm_final_percent1, 2)
print('Exit to Perm percent:',perm_final_percent*100,'%')
print('Unknown Exit percent:',unknownExits,'%')
print('Temp Exit percent:',tempExits,'%')

Exit to Perm percent: 23.46456692913386 %
Unknown Exit percent: 44.88 %
Temp Exit percent: 4.09 %

In [81]:
#@title
# take sum of ES and Trans exits and divide by total exits, then multiply by 100 to get percentage
esExits = (( exits['Emergency shelter, including hotel or motel paid for with emergency shelter voucher, or RHY-funded Host Home shelter'] / exits.sum()) * 100)
transExits = ((exits['Transitional Housing for homeless persons (including homeless youth)'] / exits.sum()) * 100)
# round the answer to nearest hundreth place
esExits = (round(esExits, 2))
transExits = (round(transExits, 2))

print('Exits to ES percent:',esExits,'%')
print('Exits to Transitional',transExits,'%')

Exits to ES percent: 16.22 %
Exits to Transitional 5.83 %

In [16]:
#@title

avgBedNights = df['Count of Bed Nights (Housing Check-ins)'].mean(skipna=True)

avgBedNights = round(avgBedNights, 2)

print("Average BedNights is:", avgBedNights)

Average BedNights is: 32.1

In [83]:
#@title
avgDaysEnrolled = df['Days Enrolled in Project'].mean(skipna=True)
avgDaysEnrolled = round(avgDaysEnrolled, 2)                   
perm_final_percent = round(perm_final_percent, 2)
print('Average Days Enrolled is:', avgDaysEnrolled)

Average Days Enrolled is: 43.07

In [84]:
#@title
print('Average Household Income at Enrollment is:', round(df['4.2 Income Total at Entry'].mean(skipna=True), 2))

print('Average Household Income at Exit is:', round(df['4.2 Income Total at Exit'].mean(skipna=True), 2))

avgChange = (df['4.2 Income Total at Exit'].mean(skipna=True)) - (df['4.2 Income Total at Entry'].mean(skipna=True))
avgChange = round(avgChange, 2)
print('Average Change in Income for Households during stay is:', avgChange)

Average Household Income at Enrollment is: 959.22
Average Household Income at Exit is: 967.38
Average Change in Income for Households during stay is: 8.17

In [85]:
#@title
# printed rounded answer for average age during enrollment
print('Average Age of Guest during Enrollment is:', round(df['Age at Enrollment'].mean(skipna=True), 2))

Average Age of Guest during Enrollment is: 20.02

In [86]:
# export zips into an excel sheet for Power BI visual
#  df['V5 Zip'].value_counts().to_excel('/content/drive/My Drive/FPS Weekly Data Colabs/YTD Data/weeklyYTDzips.xlsx', header=True, index=True)

In [87]:
# create list of all options for engagement data and export into excel file for Power BI
#df['Days Enrolled Until Engagement Date'].value_counts().to_excel('/content/drive/My Drive/FPS Weekly Data Colabs/YTD Data/weeklyYTD_aggregate_DOE.xlsx', header=True, index=True)

In [88]:
# create new excel sheet with the days enrolled until engagement to upload back into notebook for calculating mean

df['Days Until Engagement'] = (df['4.13 Engagement Date'] - df['3.10 Enroll Date'])
df['Days Until Engagement'].mean()
d_o_e_avg = df['Days Until Engagement'].mean()

In [89]:
d_o_e_avg

Timedelta('2 days 16:00:00')

In [90]:
# create new excel sheet with the days enrolled until engagement to upload back into notebook for calculating mean 
#(df['4.13 Engagement Date'] - df['3.10 Enroll Date']).to_excel('/content/drive/My Drive/FPS Weekly Data Colabs/YTD Data/ytdDOE.xlsx', header=False, index=False)

In [91]:
# create new column with total amount of guests for year
df['Total Guests'] = df['5.8 Personal ID'].drop_duplicates().count()

In [92]:
# create new column with count of unique households
df['Total Households'] = df['5.9 Household ID'].drop_duplicates().count()

# create new column with total amount of guests for year
df['Total Guests'] = df['5.8 Personal ID'].drop_duplicates().count()

In [93]:
df['5.8 Personal ID'].count()

635

In [94]:
df['5.8 Personal ID'].drop_duplicates().count()

595

In [95]:
df['Age at Enrollment'].head()

0    22
1    28
2     5
3    26
4     6
Name: Age at Enrollment, dtype: int64

In [35]:
adults = df[df['Age at Enrollment'] > 17.0]

In [36]:
adults['4.05 Physical Disability'].value_counts()

Physical Disability    65
Name: 4.05 Physical Disability, dtype: int64

In [37]:
adults['4.07 Chronic Health Condition'].value_counts()

Chronic Health    77
Name: 4.07 Chronic Health Condition, dtype: int64

In [38]:
adults['4.06 Developmental Disability'].value_counts()

Developmental Disability    37
Name: 4.06 Developmental Disability, dtype: int64

In [39]:
65+77+37

179

In [28]:
minors = df[df['Age at Enrollment'] <= 17.0]

In [30]:
minors['4.05 Physical Disability'].value_counts()

Physical Disability    6
Name: 4.05 Physical Disability, dtype: int64

In [31]:
minors['4.07 Chronic Health Condition'].value_counts()

Chronic Health    15
Name: 4.07 Chronic Health Condition, dtype: int64

In [32]:
minors['4.06 Developmental Disability'].value_counts()

Developmental Disability    33
Name: 4.06 Developmental Disability, dtype: int64

In [33]:
6+15+33

54

In [8]:
df['is_minor'] = df['Age at Enrollment'] <= 17.0

In [12]:
df['under_6'] = df['Age at Enrollment'] < 6

In [13]:
df['under_6'].value_counts(normalize=False)

False    611
True     196
Name: under_6, dtype: int64

In [11]:
df['is_minor'].value_counts(normalize=False)

True     415
False    392
Name: is_minor, dtype: int64

In [40]:
df['3.5 Ethnicity'].value_counts()

Non-Hispanic/Latino    730
Hispanic/Latino         66
Client refused           9
Client doesn't know      2
Name: 3.5 Ethnicity, dtype: int64

In [41]:
df['3.4 Race'].value_counts()

White                                        469
Black or African American                     96
American Indian or Alaska Native              90
Multi-Racial                                  80
Native Hawaiian or Other Pacific Islander     57
Client refused                                13
Client doesn't know                            2
Name: 3.4 Race, dtype: int64

In [43]:
df['3.917 Living Situation'].value_counts(normalize=True)

Place not meant for habitation                                                                                          0.308483
Hotel or motel paid for without emergency shelter voucher                                                               0.164524
Staying or living in a family member's room, apartment or house                                                         0.141388
Staying or living in a friend's room, apartment or house                                                                0.131105
Rental by client, no ongoing housing subsidy                                                                            0.097686
Client refused                                                                                                          0.071979
Emergency shelter, including hotel or motel paid for with emergency shelter voucher, or RHY-funded Host Home shelter    0.071979
Hospital or other residential non-psychiatric medical facility                                                          0.005141
Jail, prison or juvenile detention facility                                                                             0.002571
Rental by client, with other ongoing housing subsidy                                                                    0.002571
Substance abuse treatment facility or detox center                                                                      0.002571
Name: 3.917 Living Situation, dtype: float64

In [44]:
df['3.917b Stayed Less Than 7 Nights'].value_counts()

Series([], Name: 3.917b Stayed Less Than 7 Nights, dtype: int64)

In [49]:
less_than_7 = df[df['Count of Bed Nights (Housing Check-ins)'] < 7]

In [50]:
less_than_7['3.12 Exit Destination'].value_counts()

Client refused                                                                                                          166
No exit interview completed                                                                                              38
Rental by client with RRH or equivalent subsidy                                                                          27
Emergency shelter, including hotel or motel paid for with emergency shelter voucher, or RHY-funded Host Home shelter     18
Transitional Housing for homeless persons (including homeless youth)                                                     12
Rental by client, no ongoing housing subsidy                                                                              6
Staying or living with family, permanent tenure                                                                           6
Staying or living with family, temporary tenure (e.g., room, apartment or house)                                          4
Staying or living with friends, permanent tenure                                                                          2
Name: 3.12 Exit Destination, dtype: int64

In [98]:
# 839 total

# minors percent = 51.25
# adults percent = 48.75

# exit to perm adults = 101
# exit to perm kids = 106
# exit to temp adults = 21
# exit to temp kids = 22
# exit to ES adults = 59 
# exut to ES kids = 62 

.1437 * 409

58.7733

Exit to Perm percent: 24.617737003058103 %
Unknown Exit percent: 45.87 %
Temp Exit percent: 5.05 %

Exits to ES percent: 14.37 %
Exits to Transitional 5.05 %

In [99]:
def served(X):
  X = X.copy()
  return(X['5.8 Personal ID'].value_counts().unique().sum())

In [100]:
def served_h(X):
  X = X.copy()
  return(X['5.9 Household ID'].value_counts().unique().sum())

In [101]:
served(df)

6

In [102]:
served_h(df)

28

In [103]:
totalHouseholds = df.iloc[1, 120]
totalGuests = df.iloc[1, 119]

print(totalHouseholds)
print(totalGuests)

Yes
No

In [104]:
# Workbook is created 
wb = Workbook() 
  
# add_sheet is used to create sheet. 
sheet1 = wb.add_sheet('Sheet 1') 
  
sheet1.write(0, 0, 'Permanent Housing') 
sheet1.write(0, 1, round(perm_final_percent*100,2))
sheet1.write(1, 0, 'Emergency Shelter') 
sheet1.write(1, 1, esExits) 
sheet1.write(2, 0, 'Temporary Housing') 
sheet1.write(2, 1, tempExits) 
sheet1.write(3, 0, 'Transitional Housing') 
sheet1.write(3, 1, transExits) 
sheet1.write(4, 0, 'Guest left without completing exit survey') 
sheet1.write(4, 1, unknownExits) 
sheet1.write(5, 0, 'Average Bednights')
sheet1.write(5, 1, avgBedNights)
sheet1.write(6, 0, 'Average Days Enrolled')
sheet1.write(6, 1, avgDaysEnrolled)
sheet1.write(7, 0, 'Average Change in Income per Household')
sheet1.write(7, 1, avgChange)
sheet1.write(8, 0, 'Total Households Served')
sheet1.write(8, 1, int(totalHouseholds))
sheet1.write(9, 0, 'Total Guests Served')
sheet1.write(9, 1, int(totalGuests))

wb.save('/content/drive/My Drive/FPS Weekly Data Colabs/YTD Data/weeklyYtdData.xls')

ValueError: invalid literal for int() with base 10: 'Yes'

In [ ]:
# get list of currently enrolled guests (guests that don't have an exit date)
currently_enrolled = df[df['3.11 Exit Date'].isnull()]

In [ ]:
# create new list of those currently enrolled who haven't stayed with us for
# two weeks or more
need_to_exit = currently_enrolled[currently_enrolled['Date of Last ES Stay (Beta)'] < pd.to_datetime('2019-11-10')]

In [ ]:
need_to_exit.shape

In [ ]:
# make list of last names and HMIS number so team can find them and exit them

last_names = need_to_exit['3.1 LastName']
hmis = need_to_exit['5.8 Personal ID']

print_list = pd.concat([last_names, hmis], axis=1)

In [ ]:
# send to excel sheet to download and share
print_list.to_excel('/content/exit_list.xlsx', index=None)

In [18]:
df['3.7 Veteran Status'].value_counts(normalize=False)

No                    388
Yes                    13
Client refused          4
Data Not Collected      1
Name: 3.7 Veteran Status, dtype: int64

In [27]:
df['R10 Pregnancy Status'].isnull().value_counts()

True    807
Name: R10 Pregnancy Status, dtype: int64